.weather_container{
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.city_name{
   text-transform:uppercase;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 